.title {
    
}

.rendered-form{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

.form {
    text-align: left;
    padding: 5%;
}

.form-items + .form-items {
    margin-top: 5%;
}

.submit {
    padding-top: 2%;
    justify-content: center;
}