.title {
    
}

.rendered-form{
    /*
    padding-left: 30%;
    padding-right: 30%;
    */
    padding-top: 2%;
}

.form {
    text-align: left;
}

.form-items + .form-items {
    margin-top: 5%;
}

.submit {
    padding-top: 2%;

}